In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

## Part 1 answer

The AirBnB challenge has two main part that I'd work with:
- Statistical analyis from background data.
- Performing an A/B testing to confirm if the professional pictures are still impacting on higher bookings.

### Satistical Analysis

First I'd gather all past data and I'd cross it with dates of previous launches. For that I'd use pandas and numpy to clean and prepare the data and then matplotlib or tableau to visualizes the data and show the main insights.

Once I'm performing the analysis I'd look for correlation between the companies actions and the converstion rate following that action.
The most important thing would be to see if those apartments with professional pictures are seeing a decrease in booking after:
- 2013's Launch of identity verification for hosts and guests.
- 2014's Launch of double blind reviews (neither host nor guest can see the other’s review), ensuring more honest reviews of properties and hosts.
- 2015's Global PR lift for AirBnB, raising the profile of the company.

In addition I'd also look into those aparments since smartphones have become so popular.
All of these will give me a good idea about how AirBnB customers and hosts work and how they're affected by interternal action and external factors.
If with all that we don't have enough information, I'd cluster the customers database using unsupervised machine learning model such as KMeans to know the companies target better.

Once I'd have all the information I'd need, I'd draw my conclusions to know what to explect from the following A/B test.

### A/B Test

An A/B test is a user experience research methodology that consists in a randomized experiment with two variants. First you send different variants to your clients and then, via statistical hypothesis testing, you decide which one perform best and, therefore, you're going to use. Here's a simplified picture that show's the test.

<img src="data/AB-Testing.png" style="width: 400px">

In our case, first we would pick few demanded apartments randomly, we would make professional pictures of them and we would only show it to a random portion of our clients, we would call this variant A. 
Then we would take smartphone low quality pictures of the same apartments and we would show them to another random sample of our customers, wwe would call this variant B.
Once the test is on going, we might want to do it for different cities and customer clusters (given we performed the KMeans and now we have the customers clustered) to avoid bias in our results.

Once certain amount of time has past (depending on the circumstances, for example now we would need to wait a lot since people is not travelling), we would look at the results and using statistical hypothesis testing we would decide if the difference between professional photos and regular smartphone pictures is big enough to explain the resources consumpiton that the service mean to the company. The null hypothesis would be that it's worth it and we would try to reject it. In doing so we would accept that this is not worth the money expenditure and we'd proceed to stop the service from now on.

## Part 2 answer

In [64]:
data = pd.read_json('data/intervals_challenge.json',lines=True)
data

,duration,distance,started_at,trip_id,vehicle_id,city_id,type
0,857,5384,2016-10-03 13:00:00.286999941,c00cee6963e0dc66e50e271239426914,52d38cf1a3240d5cbdcf730f2d9a47d6,pentos,driving_to_destination
1,245,1248,2016-10-03 13:00:00.852999926,427425e1f4318ca2461168bdd6e4fcbd,8336b28f24c3e7a1e3d582073b164895,volantis,going_to_pickup
2,1249,5847,2016-10-03 13:00:01.670000076,757867f6d7c00ef92a65bfaa3895943f,8885c59374cc539163e83f01ed59fd16,pentos,driving_to_destination
3,471,2585,2016-10-03 13:00:01.841000080,d09d1301d361f7359d0d936557d10f89,81b63920454f70b6755a494e3b28b3a7,bravos,going_to_pickup
4,182,743,2016-10-03 13:00:01.970000029,00f20a701f0ec2519353ef3ffaf75068,b73030977cbad61c9db55418909864fa,pentos,going_to_pickup
...,...,...,...,...,...,...,...
165165,NA,NA,2016-10-04 20:36:10.846999884,d2f81b419daddb90bd701ab9870f47a3,05e4532a59b7bfe65894335d1bc83e4d,volantis,driving_to_destination
165166,NA,NA,2016-10-04 20:36:12.719000101,73a07d4504036997306e0e3330529294,bed6dd187f23b3e8d956bb0d1ab0524a,volantis,waiting_for_rider
165167,NA,NA,2016-10-04 20:36:14.763000011,d98c047d565bd488b17e08594965c479,31cd2f19d27c0c0c0ca386de72866a81,bravos,driving_to_destination
165168,NA,NA,2016-10-04 20:36:15.957999945,ce9a7ae5f76667c9f92b149a1b345a2d,4a555013634506246eed5d801ffbe526,volantis,driving_to_destination
165169,NA,NA,2016-10-04 20:36:20.473999977,469dff3624a9a37bb986157750fb73e8,27b7111eb7046e253c9896eee617b02e,volantis,going_to_pickup

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165170 entries, 0 to 165169
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   duration    165170 non-null  object
 1   distance    165170 non-null  object
 2   started_at  165170 non-null  datetime64[ns]
 3   trip_id     165170 non-null  object
 4   vehicle_id  165170 non-null  object
 5   city_id     165170 non-null  object
 6   type        165170 non-null  object
dtypes: datetime64[ns](1), object(6)
memory usage: 8.8+ MB

In [66]:
#keeping only the data with distances
data2 = data[data.duration != 'NA']
data2.head()

,duration,distance,started_at,trip_id,vehicle_id,city_id,type
0,857,5384,2016-10-03 13:00:00.286999941,c00cee6963e0dc66e50e271239426914,52d38cf1a3240d5cbdcf730f2d9a47d6,pentos,driving_to_destination
1,245,1248,2016-10-03 13:00:00.852999926,427425e1f4318ca2461168bdd6e4fcbd,8336b28f24c3e7a1e3d582073b164895,volantis,going_to_pickup
2,1249,5847,2016-10-03 13:00:01.670000076,757867f6d7c00ef92a65bfaa3895943f,8885c59374cc539163e83f01ed59fd16,pentos,driving_to_destination
3,471,2585,2016-10-03 13:00:01.841000080,d09d1301d361f7359d0d936557d10f89,81b63920454f70b6755a494e3b28b3a7,bravos,going_to_pickup
4,182,743,2016-10-03 13:00:01.970000029,00f20a701f0ec2519353ef3ffaf75068,b73030977cbad61c9db55418909864fa,pentos,going_to_pickup

In [67]:
#tranforming duration and distance to ints
cols = ['duration','distance']
data2[cols] = data2[cols].astype(int)

C:\Users\Andreu\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

Here we separete the time into two columns to have time and date separated and be able to filter by those features.

In [68]:
data2['start_date'] = [i.date() for i in data2['started_at']]
data2['start_time'] = [i.time() for i in data2['started_at']]

C:\Users\Andreu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Andreu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [69]:
data2.head()

,duration,distance,started_at,trip_id,vehicle_id,city_id,type,start_date,start_time
0,857,5384,2016-10-03 13:00:00.286999941,c00cee6963e0dc66e50e271239426914,52d38cf1a3240d5cbdcf730f2d9a47d6,pentos,driving_to_destination,2016-10-03,13:00:00.286999
1,245,1248,2016-10-03 13:00:00.852999926,427425e1f4318ca2461168bdd6e4fcbd,8336b28f24c3e7a1e3d582073b164895,volantis,going_to_pickup,2016-10-03,13:00:00.852999
2,1249,5847,2016-10-03 13:00:01.670000076,757867f6d7c00ef92a65bfaa3895943f,8885c59374cc539163e83f01ed59fd16,pentos,driving_to_destination,2016-10-03,13:00:01.670000
3,471,2585,2016-10-03 13:00:01.841000080,d09d1301d361f7359d0d936557d10f89,81b63920454f70b6755a494e3b28b3a7,bravos,going_to_pickup,2016-10-03,13:00:01.841000
4,182,743,2016-10-03 13:00:01.970000029,00f20a701f0ec2519353ef3ffaf75068,b73030977cbad61c9db55418909864fa,pentos,going_to_pickup,2016-10-03,13:00:01.970000

In [70]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164013 entries, 0 to 165162
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   duration    164013 non-null  int32
 1   distance    164013 non-null  int32
 2   started_at  164013 non-null  datetime64[ns]
 3   trip_id     164013 non-null  object
 4   vehicle_id  164013 non-null  object
 5   city_id     164013 non-null  object
 6   type        164013 non-null  object
 7   start_date  164013 non-null  object
 8   start_time  164013 non-null  object
dtypes: datetime64[ns](1), int32(2), object(6)
memory usage: 11.3+ MB

In [71]:
data2.describe()

            duration      distance
count  164013.000000  1.640130e+05
mean      432.959534  1.944164e+03
std       559.097970  7.230917e+03
min         0.000000  0.000000e+00
25%        55.000000  1.900000e+01
50%       246.000000  6.080000e+02
75%       616.000000  2.349000e+03
max     48654.000000  1.218089e+06

In [72]:
data2['distance_type'] = np.where(data2.trip_id.str.startswith(tuple(str(i) for i in range(9))),'road','linear')

C:\Users\Andreu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [73]:
data2.head()

,duration,distance,started_at,trip_id,vehicle_id,city_id,type,start_date,start_time,distance_type
0,857,5384,2016-10-03 13:00:00.286999941,c00cee6963e0dc66e50e271239426914,52d38cf1a3240d5cbdcf730f2d9a47d6,pentos,driving_to_destination,2016-10-03,13:00:00.286999,linear
1,245,1248,2016-10-03 13:00:00.852999926,427425e1f4318ca2461168bdd6e4fcbd,8336b28f24c3e7a1e3d582073b164895,volantis,going_to_pickup,2016-10-03,13:00:00.852999,road
2,1249,5847,2016-10-03 13:00:01.670000076,757867f6d7c00ef92a65bfaa3895943f,8885c59374cc539163e83f01ed59fd16,pentos,driving_to_destination,2016-10-03,13:00:01.670000,road
3,471,2585,2016-10-03 13:00:01.841000080,d09d1301d361f7359d0d936557d10f89,81b63920454f70b6755a494e3b28b3a7,bravos,going_to_pickup,2016-10-03,13:00:01.841000,linear
4,182,743,2016-10-03 13:00:01.970000029,00f20a701f0ec2519353ef3ffaf75068,b73030977cbad61c9db55418909864fa,pentos,going_to_pickup,2016-10-03,13:00:01.970000,road

Now that the data is a bit more clear, I'll remove both extremes to make it a more representative one. To do so I'll use  the quintile function.

In [74]:
def extreme_values(data, column):
    bottom = data[column].quantile(0.05)
    top = data[column].quantile(0.95)
    df_clean = data.loc[(data[column] > bottom) & (data[column] < top)]
    return df_clean

Now we pass our parameters into the function.

In [75]:
data_clean = extreme_values(data2, 'duration')
data_clean = extreme_values(data_clean, 'distance')
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 127379 entries, 0 to 165148
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   duration       127379 non-null  int32
 1   distance       127379 non-null  int32
 2   started_at     127379 non-null  datetime64[ns]
 3   trip_id        127379 non-null  object
 4   vehicle_id     127379 non-null  object
 5   city_id        127379 non-null  object
 6   type           127379 non-null  object
 7   start_date     127379 non-null  object
 8   start_time     127379 non-null  object
 9   distance_type  127379 non-null  object
dtypes: datetime64[ns](1), int32(2), object(7)
memory usage: 9.7+ MB

We can see that now we have less data but, we kept the more meaningfull data.

Now I asked myself what else do we need to answer our challenge. First we need to create a column (trip_length) that will tell us the amount of meters the vehicle travels in one second.

In [76]:
data_clean['trip_length'] = round(data_clean.distance/data_clean.duration)

In order to be able to visualize the situation and draw the adecuate conclusions, we need to change the structure of our dataset. To do that I'll use the .pivot() function and rearenge the columns and what I want to show from them. Then we will separate the descriptive statistics columns to be able to visualize the results properly.

In [83]:
df_final = pd.pivot_table(data_clean, values=['duration', 'distance'], index=['city_id','vehicle_id', 'trip_id', 'type', 'distance_type'], 
                          aggfunc={'duration':[np.mean, np.std, max, min],
                                  'distance':[np.mean, np.std, max, min]}).reset_index()
df_final.columns = ['_'.join(col) for col in df_final.columns]

In [84]:
df_final.head()

,city_id_,vehicle_id_,trip_id_,type_,distance_type_,distance_max,distance_mean,distance_min,distance_std,duration_max,duration_mean,duration_min,duration_std
0,bravos,00533c566a32c599616cf88af15d80dd,115592df48204cb0daae75da35d4b4d8,driving_to_destination,road,4434.0,4434.0,4434.0,NaN,667.0,667.0,667.0,NaN
1,bravos,00533c566a32c599616cf88af15d80dd,115592df48204cb0daae75da35d4b4d8,going_to_pickup,road,1116.0,1116.0,1116.0,NaN,237.0,237.0,237.0,NaN
2,bravos,00533c566a32c599616cf88af15d80dd,115592df48204cb0daae75da35d4b4d8,waiting_for_rider,road,2.0,2.0,2.0,NaN,207.0,207.0,207.0,NaN
3,bravos,00533c566a32c599616cf88af15d80dd,1ef30c6bd4a97737c76aac74ec9d7c2e,driving_to_destination,road,2495.0,2495.0,2495.0,NaN,445.0,445.0,445.0,NaN
4,bravos,00533c566a32c599616cf88af15d80dd,1ef30c6bd4a97737c76aac74ec9d7c2e,going_to_pickup,road,819.0,819.0,819.0,NaN,173.0,173.0,173.0,NaN

I don't really understand why the standard deviation comes out as NaN's, but I think I can solve the challenge without it so I'll drop the columns.

In [86]:
df_final.drop(['distance_std','duration_std'], axis=1, inplace=True)

In [87]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127378 entries, 0 to 127377
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   city_id_        127378 non-null  object
 1   vehicle_id_     127378 non-null  object
 2   trip_id_        127378 non-null  object
 3   type_           127378 non-null  object
 4   distance_type_  127378 non-null  object
 5   distance_max    127378 non-null  float64
 6   distance_mean   127378 non-null  float64
 7   distance_min    127378 non-null  float64
 8   duration_max    127378 non-null  float64
 9   duration_mean   127378 non-null  float64
 10  duration_min    127378 non-null  float64
dtypes: float64(6), object(5)
memory usage: 10.7+ MB

### Visualization

Now I'll proceed to Viualize the data to find meaningfull insights.